<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="KtTeam\TaskList\Api\Data\TaskInterface" type="KtTeam\TaskList\Model\Task"/>
    <preference for="KtTeam\TaskList\Api\TaskRepositoryInterface" type="KtTeam\TaskList\Model\TaskRepository"/>
    <preference for="KtTeam\TaskList\Api\Data\TaskSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
</config>