<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="task_list" frontName="task_list">
            <module name="KtTeam_TaskList"/>
        </route>
    </router>
</config>